@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="homepage f-slide-1">
    <div class ="slider-text-container">
        <div class = " f-slider-text">
            <span>Saleoff at weekend </span>
        <strong>Up to 25% off for member </strong>
        </div>
        
        
    </div>
</div>